body{
    
    background-color:dimgray;
    text-align: center;
     margin-left: auto;
    margin-right: auto;
}


.cadre{
    width: 900px;
    border-bottom-color:black;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
    
    
    
}

.Tcolonne{
     margin: 0px;
    padding: 0px;
    
}

.Tligne{
     margin: 0px;
    padding: 0px;
    
}